$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-desktop:              1250px;

$container-mobile:            260px;
$container-tablet:            688px;
$container-desktop:           1080px;

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-main-blue:             #4e97d2;
$color-main-green:            #88bf47;
$color-main-red:              #d94651;
$color-cost-button:           #d0454a;
$color-text:                  #153144;
$color-architecture-item-bg:  #e6f4ff;
$color-architecture-arrow:    #88c046;
